<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!-- Conexion a Base de Datos -->

	<connectionStrings>
		<add name="conectar" connectionString="Server=sqlserver-sloteria.database.windows.net;Initial Catalog=Abraham;User ID=SLOTERIA;Password=Loteria3"/>
	</connectionStrings>
	
</configuration>